@font-face {
  font-family: PP;
  src: url(./ppmori-regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: PP;
}

html,
body {
  height: 100%;
  width: 100%;
}

.cursor {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  background-color: #edbefe;
  z-index: 8;
  mix-blend-mode: difference;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  left: 1.7%;
  top: 3.09%;
  transform: translate(-50%, -50%);
}

.cursor.active {
  height: 60px;
  width: 120px;
  border-radius: 20px;
  color: black;
}

.main {
  background-color: #0f0d0d;
  overflow: hidden;
}

.page1 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 9;
}

.nav {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
}

.nav img {
  height: 26px;
}

.nav .nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.nav .nav-part2 h4 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  width: fit-content;
}

.nav .nav-part2 h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 1.5px;
  background-color: white;
  transition: all ease 0.3s;
}

.nav .nav-part2 h4:hover::after {
  width: 100%;
}

.nav .nav-part3 .circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
}

.page1 h1 {
  width: fit-content;
  font-size: 7vw;
  font-weight: 100;
  margin-top: 10vw;
  margin-left: 10vw;
}

.page1 h2 {
  width: fit-content;
  font-size: 7vw;
  font-weight: 100;
  margin-left: 20vw;
}

.page1 video {
  margin-top: 5vh;
  width: 60%;
  object-fit: cover;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.page2 {
  min-height: 90vh;
  width: 100%;
  margin-top: 10vh;
  padding: 5vw;
  border-bottom: 2px solid #111;
  position: relative;
  z-index: 9;
}

.page2 h1 {
  font-size: 6vw;
  font-weight: 300;
  color: #111;
}

.page2 .page2-container {
  height: 60vh;
  width: 1005;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  margin-top: 10vh;
}

.page2-left {
  width: 31%;
}

.page2-left h2 {
  font-size: 3vw;
  font-weight: 300;
  color: #111;
  line-height: 2.8vw;
}

.page2-right {
  width: 20%;
}

.page2-right p {
  font-size: 1.5vw;
  color: #111;
}

.page2-right button {
  font-size: 1.4vw;
  padding: 0.7vh 6vw;
  border-radius: 20px;
  background-color: #edbefe;
  white-space: nowrap;
  margin-top: 20px;
  color: #111;
}

.page3 {
  min-height: 100vh;
  width: 100%;
  padding: 5vw;
  border-bottom: 2px solid #111;
  position: relative;
  z-index: 9;
}

.page3 h1 {
  font-size: 7vw;
  color: black;
  font-weight: 300;
}

.page3-part1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.page3-part1 img {
  height: 50vh;
  width: 40vw;
  object-fit: cover;
  margin-top: 30vh;
}

.page3-part1 video {
  margin-top: 8vw;
}

.page3-part2 {
  margin-top: 4vh;
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page3-part2 h1 {
  font-size: 5vw;
  font-weight: 300;
  text-transform: uppercase;
}

.page3-part2 .circle {
  height: 200px;
  width: 200px;
  background-color: #edbefe;
  border-radius: 50%;
  color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.page4 {
  min-height: 80vh;
  width: 100%;
  position: relative;
  z-index: 9;
  padding: 5vw;
  border-bottom: 2px solid #fff;
}

.elem {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid white;
  padding: 20px 40px;
}

.elem h1 {
  font-size: 5vw;
  transition: all ease-out 0.5s;
}

.elem:hover h1 {
  transform: translateY(-100%);
  color: #edbefe;
}

.elem img {
  position: absolute;
  opacity: 0;
  transition: all ease-out 0.5s;
  transform: translateY(20%) rotate(2deg);
  z-index: 10;
}

.elem:hover img {
  opacity: 1;
  transform: translateY(0) rotate(0);
}

#first {
  top: 150%;
  left: 10%;
}

#second {
  top: 0;
  right: 10%;
}

#third {
  top: -150%;
  left: 5%;
}

#fourth {
    top: 50%;
  right: 5%;
}

#fifth {
    top: -30%;
  left: 0%;
}

#sixth {
    top: -200%;
  right: 0%;
}

.text-div {
  height: 11vh;
  overflow: hidden;
}

.page5 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 9;
  padding: 5vw;
  border-bottom: 2px solid #111;
}
